@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@theme inline {
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-tp-blue: var(--tp-blue);
    --color-tp-bluesky: var(--tp-bluesky);
    --color-tp-white: var(--tp-white);
    --color-tp-black: var(--tp-black);
}

:root {
    --tp-blue: #1156b0;
    --tp-bluesky: #93bfef;
    --tp-white: #e9f5ff;
    --tp-black: #1f1f1f;
}

.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: normal;
}

button {
    cursor: pointer;
}
